**/.classpath
**/.project
**/.idea/
**/.settings/
**/target/
**/*.iml

test-data-generator/cert/**/*.pem
test-data-generator/cert/**/*.csr
test-data-generator/cert/**/*.p12
test-data-generator/cert/thumbprints.txt

test-data-generator/bundle/*.xml

test-setup/**/bpe/log/*.log
test-setup/**/bpe/log/*.log.gz
test-setup/**/bpe/last_event/time.file
test-setup/**/bpe/plugin/*.jar
test-setup/**/bpe/process/*.jar

test-setup/**/fhir/conf/bundle.xml
test-setup/**/fhir/log/*.log
test-setup/**/fhir/log/*.log.gz

test-setup/secrets/*.pem
test-setup/.env
test-setup/docker-compose.override.yml